# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
*.swp
*~.nib

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Instruments
*.trace
